<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{addResumeTitle}">Robo Resume</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
<h1 th:text="#{addResumeHeading}">Enter resume details</h1>

<form action="#" th:action="@{/addresume}" th:object="${newResume}" method="post">

    <p>
        <span th:text="#{firstNameFormTitle}">First name: </span>
        <input type="text" th:field="*{nameFirst}"/>
        <span th:if="${#fields.hasErrors('nameFirst')}" th:errors="*{nameFirst}">Please enter a first name</span>
    </p>

    <p>
        <span th:text="#{lastNameFormTitle}">Last name: </span>
        <input type="text" th:field="*{nameLast}"/>
        <span th:if="${#fields.hasErrors('nameLast')}" th:errors="*{nameLast}">Please enter a last name</span>
    </p>

    <p>
        <span th:text="#{emailFormTitle}">Email: </span>
        <input type="text" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Please enter a valid email</span>
    </p>

    <p><span th:text="#{orgFormTitle}">Organization: </span><input type="text" th:field="*{organization}"/></p>

    <p>
        <span th:text="#{dateStartFormTitle}">Start date: </span>
        <input type="text"  th:field="*{dateStart}"/>
        <span th:if="${dateStartInvalid}==true" th:text="#{dateFormatError}">Please enter a valid date</span>
    </p>

    <p>
        <span th:text="#{dateEndFormTitle}">End date: </span>
        <input type="text" th:field="*{dateEnd}"/>
        <span th:if="${dateEndInvalid}==true" th:text="#{dateFormatError}">Please enter a valid date</span>
    </p>

    <!--TODO RESET button does not clear names or start date, sometimes, it's quirky-->
    <!--value is ignored if th:value is used, it's a fallback to English-->
    <input type="submit" th:value="#{submitText}" value="Submit"/>
    <input type="reset" th:value="#{resetText}" value="Reset"/>

</form>

</body>
</html>