<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--TODO: remove -fallbacks-->
<head>
    <title th:text="#{addResumeTitle}">Robo Resume-fallback</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
<h1 th:text="#{addResumeHeading}">Enter resume details-fallback</h1>

<form action="#" th:action="@{/addresume}" th:object="${newResume}" method="post">


    <p>
        <span th:text="#{firstNameFormTitle}"></span>
        <input type="text" th:field="*{nameFirst}"/>
        <span th:if="${#fields.hasErrors('nameFirst')}" th:errors="*{nameFirst}">Must be between 1 and 40 characters -fallback</span>
    </p>

    <p>
        <span th:text="#{lastNameFormTitle}"></span>
        <input type="text" th:field="*{nameLast}"/>
        <span th:if="${#fields.hasErrors('nameLast')}" th:errors="*{nameLast}"></span>
    </p>

    <p>
        <span th:text="#{emailFormTitle}"></span>
        <input type="text" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </p>

    <p><span th:text="#{orgFormTitle}"></span><input type="text" th:field="*{organization}"/></p>

    <p>
        <span th:text="#{dateStartFormTitle}"></span>
        <input type="text"  th:field="*{dateStart}"/>
        <span th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}"></span>

        <span th:if="${dateStartNotTenChars} == true" th:text="#{dateFormatError}"></span>
    </p>

    <p>
        <span th:text="#{dateEndFormTitle}"></span>
        <input type="text" th:field="*{dateEnd}"/>
        <span th:if="${#fields.hasErrors('dateEnd')}" th:errors="*{dateEnd}"></span>
    </p>


    <!--TODO add locale stuff below-->
    <input type="submit" value="Add Resume"/>
    <input type="reset" value="Reset"/>

</form>

</body>

</html>