<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{displayAllResumesTitle}">Robo Resume</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1 th:text="#{displayAllResumesHeading}">All resumes on file</h1>

<table>
    <tr>
        <td><p th:text="#{firstNameFormTitle}">First name</p></td>
        <td><p th:text="#{lastNameFormTitle}">Last name</p></td>
        <td><p th:text="#{emailFormTitle}">Email</p></td>
        <td><p th:text="#{orgFormTitle}">Organization</p></td>
        <td><p th:text="#{dateStartText}">Start Date</p></td>
        <td><p th:text="#{dateEndText}">End date</p></td>
        <td><p th:text="#{employmentDuration}">Employment duration (days)</p></td>
    </tr>

    <!--iterate through all the resumes-->
    <th:block th:each="aresume:${resumes}">
        <tr>
            <td><p th:text="${aresume.nameFirst}"></p></td>
            <td><p th:text="${aresume.nameLast}"></p></td>
            <td><p th:text="${aresume.email}"></p></td>
            <td><p th:text="${aresume.organization}"></p></td>
            <td><p th:text="${aresume.dateStart}"></p></td>
            <td><p th:text="${aresume.dateEnd}"></p></td>
            <td><p th:text="${aresume.employmentDuration}"></p></td>
        </tr>
    </th:block>
</table>

<a href="/addresume"><p th:text="#{addAnotherResume}">Add another resume</p></a>
<a href="/index"><p th:text="#{backToHome}">Back to home</p></a>

</body>
</html>