<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- TODO: remove -fallback from all text -->
<head>
    <title th:text="#{indexTitle}">Robo Resume-fallback</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>

<body>
    <h1 th:text="#{welcomeMessage}">Welcome to Robo Resume! -fallback</h1>

    <!--TODO: make these navi choices look nice-->
    <a href="/addresume"><p th:text="#{addResumeLinkText}">Add resume-fallback</p></a>
    <a href="/displayallresumes"><p th:text="#{displayAllResumesLinkText}">Show all resumes-fallback</p></a>
</body>
</html>