<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{resumeAddedTitle}">Robo Resume</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
<h1 th:text="#{resumeAddSuccess}">Resume successfully added</h1>

<p th:text="#{firstNameFormTitle} + ${newResume.nameFirst}"></p>
<p th:text="#{lastNameFormTitle} + ${newResume.nameLast}"></p>
<p th:text="#{emailFormTitle} + ${newResume.email}"></p>
<p th:text="#{orgFormTitle} + ${newResume.organization}"></p>
<p th:text="#{dateStartText} + ${newResume.dateStart}"></p>
<p th:text="#{dateEndText} + ${newResume.dateEnd}"></p>
<p th:text="#{employmentDuration} + ${newResume.employmentDuration}"></p>

<!--initiates a GET back to /addresume -->
<a href="/addresume"><p th:text="#{addAnotherResume}">Add another resume</p></a>
<a href="/index"><p th:text="#{backToHome}">Back to home</p></a>
<a href="/displayallresumes"><p th:text="#{displayAllResumesLinkText}">Show all resumes</p></a>

</body>
</html>